template(name="orderManager")
  #content.modern.sales-app
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +orderDetailSection sessionGet 'currentOrderBill'

      .dual-addon
        .editor-row(style='border-bottom: none; margin-top: -13px; margin-bottom: 7px;')
          .editor-wrapper(style='width: 125px; padding-left: 5px; border-right-width: 10px;')
            span.ilabel(style='background-color: #f35112; color: #fff;') xem từ ngày
            input(name='fromDate', binding='datePicker', todayhighlight='true', maxlength='20', style='border-bottom: none; text-align: center;')
          .editor-wrapper(style='width: 125px')
            span.ilabel(style='background-color:#f35112; color:#fff;') đến hết ngày
            input(name='toDate', binding='datePicker', todayhighlight='true', maxlength='20', style='border-bottom: none; text-align: center;')



        .nano(style="border-top: 1px solid #dfdfdf;"): .nano-content(style="margin-bottom: 35px;")
          each details
            .group-wrapper
              .caption.group
                div(style="position: relative; padding-bottom: 5px;")
                 |{{createdAt}}
                 div(style="position: absolute; top: 0px; right: 5px;") <b>{{formatNumber totalCash}} VND</b>

                each data
                  .caption.inner.advanced.product-selection(class="{{activeClass 'currentOrderBill'}} {{isShow}}")
                    +avatarImageComponent(avatar=avatarUrl alias=orderName color=color)
                    span.text {{orderName}}
                      .commands {{momentFormat accountingConfirmAt 'DD/MM/YYYY'}}
                    span.left-info {{getSellerName seller}}
                    span.right-info {{formatNumber finalPrice}} VND